[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
yapf = "*"
isort = "*"

[packages]
env = "*"
selenium = "*"
numpy = "==1.15.4"
scipy = "==1.2.1"
scikit-learn = "==0.20.3"
beautifulsoup4 = "*"
pytest = "*"
pytest-timeout = "*"
pyyaml = "*"

[requires]
python_version = "3.4"
